# Discord settings
DISCORD_TOKEN=your_token_here
DISCORD_CLIENT_ID=your_client_id_here

# Database settings
# Currently only MySQL is supported for the database
# Encryption is AES-GCM 256
# Generate a key from https://cloak.47ng.com
DATABASE_URL=mysql://USER:PASSWORD@HOST:PORT/DATABASE
ENCRYPTION_KEY=k1.aesgcm256.-QJqDmgBT5ZKn9QXRioNXDrLwJmBXcjuBgvaf831-wY=
